{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "jsx": true
    },
    "transform": {
      "useDefineForClassFields": false
    }
  },
  "minify": false
}
